[Unit]
Description=QtSimulator Proxy Daemon
After=systemd-user-sessions.service
Type=forking

[Service]
ExecStart=/usr/bin/emulatorproxyd

[Install]
WantedBy=multi-user.target
