[Unit]
Description=B2Qt user application
BindsTo=dev-fb0.device
After=dev-fb0.device
ConditionPathExists=/usr/bin/b2qt

[Service]
ExecStart=-/usr/bin/appcontroller /usr/bin/b2qt

[Install]
WantedBy=multi-user.target
