[Unit]
Description=B2Qt Launcher Demo
BindsTo=dev-fb0.device
After=dev-fb0.device
ConditionPathExists=!/usr/bin/b2qt

[Service]
ExecStart=-/usr/bin/appcontroller /usr/bin/qtlauncher --applications-root /data/user/qt

[Install]
WantedBy=multi-user.target
