[Unit]
Description=Neptune
After=dbus.service dbus-session.service systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/appcontroller /usr/bin/appman -r -c /opt/am/config.yaml --dbus session -c am-config.yaml Main.qml
Restart=on-failure
WorkingDirectory=/opt/neptune

[Install]
WantedBy=multi-user.target
